.OrderList {
  max-width: 790px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.OrderList h2 {
  font-size: 30px;
}

.Item {
  width: 296px;
  height: 150px;
  position: relative;
  margin: 0 auto;
}
.Item1 {
  left: 20px;
}
.Item2 {
  top: -20px;
  left: -10px;
}

.Item img {
  width: 100%;
}

.InnerText {
  position: absolute;
  text-align: center;
  width: 100%;
  color: #fff;
  padding-left: 30px;
  padding-top: 25px;
}
.ColorNum {
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 5px;
}
.ItemName {
  font-size: 10px;
  line-height: 10px;
}

.CodeName {
  line-height: 14px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 14px;
}
.Hashtag {
  font-size: 10px;
  line-height: 10px;
}
.Size {
  margin-top: 15px;
  font-size: 10px;
  line-height: 10px;
}

.Productbox {
  padding: 30px 0;
}

.List > li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border-radius: 20px;
}

.List > li:hover {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
}

.Userbox {
  width: calc(100% - 326px);
  margin-left: 30px;
  padding: 50px 30px;
  border-radius: 20px;
}
.Userbox p {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.Userbox p span {
}
.Userbox p span:first-child {
}
.Userbox p:last-child {
  border-bottom: 0;
  font-weight: bold;
}
.Userbox p span:last-child {
}

.Btnbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Btnbox button {
  width: 49%;
}

@media screen and (max-width: 767px) {
  .List > li {
    display: block;
  }
  .Userbox {
    width: 100%;
    margin-left: 0;
    padding: 0 30px 30px;
  }
}
